@import "tailwindcss";

@theme {
    --color-bg-primary: #0d1117;
    --color-bg-secondary: #161b22;
    --color-bg-tertiary: #21262d;
    --color-border-color: #30363d;
    --color-text-primary: #e6edf3;
    --color-text-secondary: #8b949e;
    --color-accent-green: #3fb950;
    --color-accent-red: #f85149;
    --color-accent-blue: #58a6ff;
    --color-accent-yellow: #d29922;

    --font-sans: Inter, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}